.container {
  font-size: 60px;
  /* min-height: 600px; */
  width: 100%;
  background: lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas:
    "header header header"
    "advert content content"
    "footer footer footer";
}

.d1 {
  background: lightskyblue;
  grid-area: header;
}
.d2 {
  background: lightsalmon;
  grid-area: advert;
}
.d3 {
  background: paleturquoise;
  grid-area: content;
}
.d4 {
  background: lightpink;
  grid-area: content;
}
.d5 {
  background: palegreen;
  grid-area: footer;
}
/* 
---put this proprities in parent container----
grid-template-columns
grid-template-rows
gap
align-items
justify-items : définit la valeur par défaut de justify-self pour tous les éléments d'une boîte et permet ainsi de définir le comportement par défaut pour la justification des éléments d'une boîte le long de l'axe en ligne (c'est-à-dire l'axe correspondant au sens d'écriture).

-----child-----
grid-column
grid-rows
justify-self
align-self
*/
